---
layout: default
title: About Ahmad Mustapha
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.baseurl}}assets/images/hero/vincent.jpg" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Ahmad Mustapha</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              Software Developer . Senior Machine Learning Researcher 
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <h4>About</h4>
        <p> Ahmad is a Software Developer and a Senior Machine Learning Researcher with special interest in Deep Learning.
            He holds a master in Computer and Electric Engineering. Formality aside, I am just another software developer
            skilled in data science, but with motivation and enthusiasm.
            I'm constantly learning from new experiences and like to share my knowledge with others.
           </p>
        <h4>Motto</h4>
        <p class="u--startsWithDoubleQuote">“How MAny People on Their Deathbed With They'd Spent More Time at the Office” - Stephen Covey</p>
        
        <h4>Technical Skills</h4>
        <ul>
          <li>C</li>
          <li>Java</li>
          <li>Python</li>
          <li>Pytorch</li>
          <li>R</li>
          <li>Scikit Learn</li>
          <li>Numpy/Pandas</li>
        </ul>

        <h4>Education</h4>
        <ul>
          <li>BS in Computer Science, Lebanese University, 2012-2015.</li>
          <li>MS in Information System and Data Intelligence, Lebanese University, Ranked 1/11, 2015-2017.</li>
          <li>ME in Computer and Electric Engineering, American University of Beirut, 2019-2021.</li>
        </ul>
        
      </div>
    </div>
  </section>
</article>
<hr/>
{% include subscribe.html %}
{% include footer.html %}
